/****** Object:  Table [dbo].[Appointments]    Script Date: 2/18/2025 8:20:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentId] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[PatientId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[App_Date] [datetime] NOT NULL
)
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentId], [PatientId], [DoctorId], [App_Date]) VALUES (1, 678, 544, CAST(N'2021-04-25T14:33:46.413' AS DateTime))
INSERT [dbo].[Appointments] ([AppointmentId], [PatientId], [DoctorId], [App_Date]) VALUES (2, 348, 212, CAST(N'2023-06-15T14:33:46.417' AS DateTime))
INSERT [dbo].[Appointments] ([AppointmentId], [PatientId], [DoctorId], [App_Date]) VALUES (3, 153, 724, CAST(N'2022-03-08T14:33:46.413' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Doctors]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Patients]
GO
