/****** Object:  Table [dbo].[Billings]    Script Date: 2/18/2025 8:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billings](
	[InvoiceID] [uniqueidentifier] PRIMARY KEY,
	[PatientID] [int] NOT NULL,
	[Items] [varchar](50) NULL,
	[Amount] [int] NOT NULL,
	[Bill_Date] [datetime] NULL
)
GO
INSERT [dbo].[Billings] ([InvoiceID], [PatientID], [Items], [Amount], [Bill_Date]) VALUES (N'c5506fda-deeb-4699-bb81-000adbfcfec2', 514, N'Immunizations', 490692, CAST(N'2022-01-03T11:41:18.000' AS DateTime))
INSERT [dbo].[Billings] ([InvoiceID], [PatientID], [Items], [Amount], [Bill_Date]) VALUES (N'ea327365-03ca-46e0-8033-000bbc1b9fdf', 456, N'Mechanical ventilation', 526662, CAST(N'2022-01-03T14:22:36.000' AS DateTime))
INSERT [dbo].[Billings] ([InvoiceID], [PatientID], [Items], [Amount], [Bill_Date]) VALUES (N'bc84f0b2-c022-48ee-8ae8-004f7d29c4da', 869, N'Bronchoscopy', 510525, CAST(N'2022-01-03T17:03:54.000' AS DateTime))
GO
ALTER TABLE [dbo].[Billings]  WITH CHECK ADD  CONSTRAINT [FK_Billings_Patients] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Billings] CHECK CONSTRAINT [FK_Billings_Patients]
GO
