/****** Object:  Table [dbo].[Medical_Procedures]    Script Date: 2/18/2025 8:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medical_Procedures](
	[ProcedureID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[ProcedureName] [varchar](99) NOT NULL,
	[AppointmentID] [int] NOT NULL
)
GO
SET IDENTITY_INSERT [dbo].[Medical_Procedures] ON 

INSERT [dbo].[Medical_Procedures] ([ProcedureID], [ProcedureName], [AppointmentID]) VALUES (1, N'Laser therapy for skin conditions', 258)
INSERT [dbo].[Medical_Procedures] ([ProcedureID], [ProcedureName], [AppointmentID]) VALUES (2, N'Emergency surgical procedures', 848)
INSERT [dbo].[Medical_Procedures] ([ProcedureID], [ProcedureName], [AppointmentID]) VALUES (3, N'Immunotherapy (allergy shots)', 692)
GO
SET IDENTITY_INSERT [dbo].[Medical_Procedures] OFF
GO
ALTER TABLE [dbo].[Medical_Procedures]  WITH CHECK ADD  CONSTRAINT [FK_Medical_Procedures_Appointments] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentId])
GO
ALTER TABLE [dbo].[Medical_Procedures] CHECK CONSTRAINT [FK_Medical_Procedures_Appointments]
GO
