/****** Object:  Table [dbo].[Patients]    Script Date: 2/18/2025 8:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[firstname] [varchar](50) NOT NULL,
	[lastname] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL
)
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([PatientID], [firstname], [lastname], [email]) VALUES (1, N'Ira', N'Eachern', N'Ira.Eachern@yopmail.com')
INSERT [dbo].[Patients] ([PatientID], [firstname], [lastname], [email]) VALUES (2, N'Jennica', N'Ashely', N'Jennica.Ashely@yopmail.com')
INSERT [dbo].[Patients] ([PatientID], [firstname], [lastname], [email]) VALUES (3, N'Lusa', N'Alisia', N'Lusa.Alisia@yopmail.com')
GO
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
